{{ header }}
<style>
#simple-checkout-lite .form-group label,
#simple-checkout-lite .control-label {
  text-align: left;
  float: none;
  width: 100%;
  padding-top: 0;
}
</style>
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    <div id="content" class="col-sm-12">{{ content_top }}
      <h1>{{ heading_title }}</h1>

      <div id="simple-checkout-lite">
        <form id="simple-checkout-form" class="form-horizontal">
          <div class="panel-group" id="accordion">

            {# Customer Information #}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-customer">
                    <i class="fa fa-user"></i> {{ text_customer_info }}
                  </a>
                </h4>
              </div>
              <div id="collapse-customer" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    {# First Name #}
                    {% if fields.firstname != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.firstname == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-firstname">{{ entry_firstname }}</label>
                        <input type="text" name="firstname" value="{{ customer_firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Last Name #}
                    {% if fields.lastname != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.lastname == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-lastname">{{ entry_lastname }}</label>
                        <input type="text" name="lastname" value="{{ customer_lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Email #}
                    {% if fields.email != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.email == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-email">{{ entry_email }}</label>
                        <input type="email" name="email" value="{{ customer_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Telephone #}
                    {% if fields.telephone != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.telephone == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-telephone">{{ entry_telephone }}</label>
                        <input type="tel" name="telephone" value="{{ customer_telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Company #}
                    {% if fields.company != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.company == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-company">{{ entry_company }}</label>
                        <input type="text" name="company" value="{{ customer_company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control" />
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {# Address Section #}
            {% if shipping_required or fields.address_1 != 'hidden' or fields.city != 'hidden' or fields.country != 'hidden' %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-address">
                    <i class="fa fa-map-marker"></i> {{ text_shipping_address }}
                  </a>
                </h4>
              </div>
              <div id="collapse-address" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    {# Address 1 #}
                    {% if fields.address_1 != 'hidden' %}
                    <div class="col-sm-12">
                      <div class="form-group{% if fields.address_1 == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-address-1">{{ entry_address_1 }}</label>
                        <input type="text" name="address_1" value="{{ customer_address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Address 2 #}
                    {% if fields.address_2 != 'hidden' %}
                    <div class="col-sm-12">
                      <div class="form-group{% if fields.address_2 == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-address-2">{{ entry_address_2 }}</label>
                        <input type="text" name="address_2" value="{{ customer_address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# City #}
                    {% if fields.city != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.city == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-city">{{ entry_city }}</label>
                        <input type="text" name="city" value="{{ customer_city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Postcode #}
                    {% if fields.postcode != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.postcode == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-postcode">{{ entry_postcode }}</label>
                        <input type="text" name="postcode" value="{{ customer_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
                      </div>
                    </div>
                    {% endif %}

                    {# Country #}
                    {% if fields.country != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.country == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-country">{{ entry_country }}</label>
                        <select name="country_id" id="input-country" class="form-control">
                          <option value="">{{ entry_country }}</option>
                          {% for country in countries %}
                          {% if country.country_id == customer_country_id %}
                          <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                          {% else %}
                          <option value="{{ country.country_id }}">{{ country.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    {% endif %}

                    {# Zone #}
                    {% if fields.zone != 'hidden' %}
                    <div class="col-sm-6">
                      <div class="form-group{% if fields.zone == 'required' %} required{% endif %}">
                        <label class="control-label" for="input-zone">{{ entry_zone }}</label>
                        <select name="zone_id" id="input-zone" class="form-control" data-zone-id="{{ customer_zone_id }}">
                        </select>
                      </div>
                    </div>
                    {% endif %}
                  </div>

                  {# Same address checkbox #}
                  {% if show_shipping_address %}
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="shipping_address" value="1" checked="checked" />
                        {{ entry_same_address }}
                      </label>
                    </div>
                  </div>
                  {% else %}
                  <input type="hidden" name="shipping_address" value="1" />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}

            {# Shipping Method #}
            {% if shipping_required and show_shipping_method %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-shipping">
                    <i class="fa fa-truck"></i> {{ text_shipping_method }}
                  </a>
                </h4>
              </div>
              <div id="collapse-shipping" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div id="shipping-methods">
                    <p><i class="fa fa-spinner fa-spin"></i> {{ text_loading }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            {# Payment Method #}
            {% if show_payment_method %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-payment">
                    <i class="fa fa-credit-card"></i> {{ text_payment_method }}
                  </a>
                </h4>
              </div>
              <div id="collapse-payment" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div id="payment-methods">
                    <p><i class="fa fa-spinner fa-spin"></i> {{ text_loading }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            {# Order Comment #}
            {% if show_comment %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-comment">
                    <i class="fa fa-comment"></i> {{ text_comments }}
                  </a>
                </h4>
              </div>
              <div id="collapse-comment" class="panel-collapse collapse in">
                <div class="panel-body">
                  <textarea name="comment" rows="4" class="form-control" placeholder="{{ entry_comment }}"></textarea>
                </div>
              </div>
            </div>
            {% endif %}

          </div>

          {# Totals #}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <i class="fa fa-shopping-cart"></i> Ваш заказ
              </h4>
            </div>
            <div class="panel-body">
              {# Products List #}
              <div class="checkout-products-list">
                {% for product in products %}
                <div class="media" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee;">
                  <div class="media-left">
                    <a href="{{ product.href }}"><img src="{{ product.image }}" alt="{{ product.name }}" style="width: 50px; height: 50px; object-fit: cover;" /></a>
                  </div>
                  <div class="media-body">
                    <p style="margin: 0; font-weight: 500;"><a href="{{ product.href }}">{{ product.name }}</a></p>
                    {% if product.option %}
                    {% for option in product.option %}
                    <small class="text-muted">{{ option.name }}: {{ option.value }}</small><br/>
                    {% endfor %}
                    {% endif %}
                    <small>{{ product.quantity }} x {{ product.price }} = <strong>{{ product.total }}</strong></small>
                  </div>
                </div>
                {% endfor %}
              </div>
              <table class="table table-bordered" id="totals-table">
                <tbody>
                  <tr>
                    <td colspan="2"><i class="fa fa-spinner fa-spin"></i> {{ text_loading }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          {# Agreement #}
          {% if agree %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="agree" value="1" />
                  {{ text_agree }}
                </label>
              </div>
            </div>
          </div>
          {% endif %}

          {# Buttons #}
          <div class="buttons">
            <div class="pull-right">
              <button type="button" id="button-confirm" class="btn btn-primary btn-lg" disabled="disabled">
                <i class="fa fa-check"></i> {{ button_confirm }}
              </button>
            </div>
          </div>
        </form>
      </div>

      {{ content_bottom }}</div>
  </div>
</div>

<script type="text/javascript">
(function($) {
    'use strict';

    var SimpleCheckoutLite = {
        urls: {
            save: '{{ action_save }}',
            shipping: '{{ action_shipping }}',
            payment: '{{ action_payment }}',
            totals: '{{ action_totals }}',
            confirm: '{{ action_confirm }}',
            zone: '{{ action_zone }}'
        },
        shipping_required: {{ shipping_required ? 'true' : 'false' }},
        show_shipping_method: {{ show_shipping_method ? 'true' : 'false' }},
        show_payment_method: {{ show_payment_method ? 'true' : 'false' }},
        require_agree: {{ agree ? 'true' : 'false' }},
        fields: {
            firstname: '{{ fields.firstname }}',
            lastname: '{{ fields.lastname }}',
            email: '{{ fields.email }}',
            telephone: '{{ fields.telephone }}',
            company: '{{ fields.company }}',
            address_1: '{{ fields.address_1 }}',
            address_2: '{{ fields.address_2 }}',
            city: '{{ fields.city }}',
            postcode: '{{ fields.postcode }}',
            country: '{{ fields.country }}',
            zone: '{{ fields.zone }}'
        }
    };

    var SCL = {
        init: function() {
            this.bindEvents();
            this.loadZones();
            this.updateAll();
            this.validateForm();
        },

        bindEvents: function() {
            var self = this;

            $('#simple-checkout-form').on('input change', 'input, select, textarea', function() {
                self.validateForm();
            });

            $('#input-country').on('change', function() {
                self.loadZones();
                self.updateAll();
            });

            $('#input-zone, #input-address-1, #input-city, #input-postcode').on('change', function() {
                self.updateAll();
            });

            $(document).on('change', 'input[name="shipping_method"]', function() {
                self.setShippingMethod($(this).val());
            });

            $(document).on('change', 'input[name="payment_method"]', function() {
                self.setPaymentMethod($(this).val());
            });

            $('#button-confirm').on('click', function() {
                self.confirmOrder();
            });
        },

        loadZones: function() {
            var country_id = $('#input-country').val();
            var zone_id = $('#input-zone').data('zone-id');

            if (!country_id) {
                $('#input-zone').html('<option value="">-- Select --</option>');
                return;
            }

            $.ajax({
                url: SimpleCheckoutLite.urls.zone + '&country_id=' + country_id,
                dataType: 'json',
                success: function(json) {
                    var html = '<option value="">-- Select --</option>';
                    if (json && json.length > 0) {
                        for (var i = 0; i < json.length; i++) {
                            if (json[i].zone_id == zone_id) {
                                html += '<option value="' + json[i].zone_id + '" selected="selected">' + json[i].name + '</option>';
                            } else {
                                html += '<option value="' + json[i].zone_id + '">' + json[i].name + '</option>';
                            }
                        }
                    }
                    $('#input-zone').html(html);
                }
            });
        },

        updateAll: function() {
            var self = this;
            this.saveCustomerData(function() {
                if (SimpleCheckoutLite.shipping_required && SimpleCheckoutLite.show_shipping_method) {
                    self.loadShippingMethods(function() {
                        if (SimpleCheckoutLite.show_payment_method) {
                            self.loadPaymentMethods();
                        } else {
                            self.loadTotals();
                        }
                    });
                } else if (SimpleCheckoutLite.show_payment_method) {
                    self.loadPaymentMethods();
                } else {
                    self.loadTotals();
                }
            });
        },

        saveCustomerData: function(callback) {
            var formData = $('#simple-checkout-form').serialize();
            $.ajax({
                url: SimpleCheckoutLite.urls.save,
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function(json) {
                    $('.form-group').removeClass('has-error');
                    $('.text-danger').remove();
                    if (json && json.error) {
                        for (var field in json.error) {
                            var $input = $('#input-' + field.replace(/_/g, '-'));
                            $input.closest('.form-group').addClass('has-error');
                            $input.after('<div class="text-danger">' + json.error[field] + '</div>');
                        }
                    }
                    if (callback) callback(json || {});
                },
                error: function() {
                    if (callback) callback({error: true});
                }
            });
        },

        loadShippingMethods: function(callback) {
            var $container = $('#shipping-methods');
            $container.html('<p><i class="fa fa-spinner fa-spin"></i> Loading...</p>');

            $.ajax({
                url: SimpleCheckoutLite.urls.shipping,
                dataType: 'json',
                success: function(json) {
                    if (json && json.shipping_methods) {
                        var html = '';
                        for (var code in json.shipping_methods) {
                            var shipping = json.shipping_methods[code];
                            html += '<p><strong>' + shipping.title + '</strong></p>';
                            for (var quote_code in shipping.quote) {
                                var quote = shipping.quote[quote_code];
                                var value = code + '.' + quote_code;
                                var checked = (json.shipping_selected == value) ? ' checked="checked"' : '';
                                html += '<div class="radio"><label><input type="radio" name="shipping_method" value="' + value + '"' + checked + ' /> ' + quote.title + ' - ' + quote.text + '</label></div>';
                            }
                        }
                        $container.html(html || '<p>No shipping methods available</p>');
                    }
                    if (callback) callback(json || {});
                },
                error: function() {
                    $container.html('<p class="text-danger">Error loading shipping methods</p>');
                    if (callback) callback({error: true});
                }
            });
        },

        loadPaymentMethods: function(callback) {
            var $container = $('#payment-methods');
            if (!$container.length) {
                this.loadTotals();
                if (callback) callback({});
                return;
            }
            $container.html('<p><i class="fa fa-spinner fa-spin"></i> Loading...</p>');

            var self = this;
            $.ajax({
                url: SimpleCheckoutLite.urls.payment,
                dataType: 'json',
                success: function(json) {
                    if (json && json.payment_methods) {
                        var html = '';
                        for (var code in json.payment_methods) {
                            var payment = json.payment_methods[code];
                            var checked = (json.payment_selected == code) ? ' checked="checked"' : '';
                            html += '<div class="radio"><label><input type="radio" name="payment_method" value="' + code + '"' + checked + ' /> ' + payment.title + '</label></div>';
                        }
                        $container.html(html || '<p>No payment methods available</p>');
                    }
                    if (json && json.totals) {
                        var totalsHtml = '';
                        for (var i = 0; i < json.totals.length; i++) {
                            totalsHtml += '<tr><td class="text-right"><strong>' + json.totals[i].title + ':</strong></td><td class="text-right">' + json.totals[i].text + '</td></tr>';
                        }
                        $('#totals-table tbody').html(totalsHtml);
                    }
                    if (callback) callback(json || {});
                },
                error: function() {
                    $container.html('<p class="text-danger">Error loading payment methods</p>');
                    if (callback) callback({error: true});
                }
            });
        },

        loadTotals: function(callback) {
            $.ajax({
                url: SimpleCheckoutLite.urls.totals,
                dataType: 'json',
                success: function(json) {
                    if (json && json.totals) {
                        var totalsHtml = '';
                        for (var i = 0; i < json.totals.length; i++) {
                            totalsHtml += '<tr><td class="text-right"><strong>' + json.totals[i].title + ':</strong></td><td class="text-right">' + json.totals[i].text + '</td></tr>';
                        }
                        $('#totals-table tbody').html(totalsHtml);
                    }
                    if (callback) callback(json || {});
                }
            });
        },

        setShippingMethod: function(method) {
            var self = this;
            $.ajax({
                url: 'index.php?route=extension/module/simple_checkout_lite/setShipping',
                type: 'POST',
                data: { shipping_method: method },
                dataType: 'json',
                success: function(json) {
                    if (json && json.success) self.loadPaymentMethods();
                }
            });
        },

        setPaymentMethod: function(method) {
            $.ajax({
                url: 'index.php?route=extension/module/simple_checkout_lite/setPayment',
                type: 'POST',
                data: { payment_method: method },
                dataType: 'json'
            });
        },

        validateForm: function() {
            var isValid = true;
            var fields = SimpleCheckoutLite.fields;

            if (fields.firstname === 'required') {
                var val = $('#input-firstname').val();
                if (!val || val.trim().length < 1) isValid = false;
            }
            if (fields.lastname === 'required') {
                var val = $('#input-lastname').val();
                if (!val || val.trim().length < 1) isValid = false;
            }
            if (fields.email === 'required') {
                var val = $('#input-email').val();
                if (!val || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(val)) isValid = false;
            }
            if (fields.telephone === 'required') {
                var val = $('#input-telephone').val();
                if (!val || val.trim().length < 3) isValid = false;
            }
            if (fields.address_1 === 'required') {
                var val = $('#input-address-1').val();
                if (!val || val.trim().length < 3) isValid = false;
            }
            if (fields.city === 'required') {
                var val = $('#input-city').val();
                if (!val || val.trim().length < 2) isValid = false;
            }
            if (fields.postcode === 'required') {
                var val = $('#input-postcode').val();
                if (!val || val.trim().length < 2) isValid = false;
            }
            if (fields.country === 'required') {
                if (!$('#input-country').val()) isValid = false;
            }
            if (fields.zone === 'required') {
                if (!$('#input-zone').val()) isValid = false;
            }
            if (SimpleCheckoutLite.require_agree) {
                if (!$('input[name="agree"]').is(':checked')) isValid = false;
            }

            $('#button-confirm').prop('disabled', !isValid);
            return isValid;
        },

        confirmOrder: function() {
            var self = this;
            var $btn = $('#button-confirm');

            if (!this.validateForm()) return;

            $btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin"></i> Processing...');

            this.saveCustomerData(function(saveJson) {
                if (saveJson && saveJson.error && typeof saveJson.error === 'object') {
                    $btn.html('<i class="fa fa-check"></i> {{ button_confirm }}');
                    self.validateForm();
                    return;
                }

                $.ajax({
                    url: SimpleCheckoutLite.urls.confirm,
                    type: 'POST',
                    data: $('#simple-checkout-form').serialize(),
                    dataType: 'json',
                    success: function(json) {
                        if (json && json.redirect) {
                            location = json.redirect;
                        } else if (json && json.error) {
                            alert(json.error);
                            $btn.html('<i class="fa fa-check"></i> {{ button_confirm }}');
                            self.validateForm();
                        }
                    },
                    error: function() {
                        alert('An error occurred. Please try again.');
                        $btn.html('<i class="fa fa-check"></i> {{ button_confirm }}');
                        self.validateForm();
                    }
                });
            });
        }
    };

    $(document).ready(function() {
        SCL.init();
    });

})(jQuery);
</script>
{{ footer }}
